#page-top-outer, .nav-outer-repeat, #nav, .nav, #page-heading, #left, img, input,#footer,.udruk{
    display:none; visable: none;
}
#druk{
	width: 25cm;
}
#druk td, #druk th{font-size: 12px; font-family: verdana; border: 1px solid #000; padding: 4px; margin: 0;}