html, body{
	margin: 0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
}
input[type=text], input[type=password]{
	width: 100%;
	padding: 5px 0;
	margin: 0 5px;
}

#logowanie{
	font:10px normal Arial, Helvetica, sans-serif;
}
#logowanie input{
	margin:0;
}
fieldset{
	border: 1px;
	border:1px solid #000;
}
table{
}
div{
}
td,th{
	padding:2px 6px;
}

#top{
	width: 100%;
	clear:both;
}

#logowanie{
	width: 200px;
	margin: 20% auto 0 auto;
	border: 1px solid #006;
	padding: 10px;
	background:#DCEFDD;
}

#logowanie .tytul{
	font: 14pt bold Arial, Helvetica, sans-serif;
}

#logowanie .komunikat{
	font: 11px bold Arial, Helvetica, sans-serif;
	color: ##F00;
	padding: 3px;
}

select, option{
	padding: 10px;
	font:10px normal Arial, Helvetica, sans-serif;
}
option{
	padding: 0;
}

input[type=submit], input[type=button]{
	padding: 10px;
	text-align:center;
	vertical-align:middle;
	font:12px bold Arial, Helvetica, sans-serif;
}
.opis{
	font: 10px normal Arial, Helvetica, sans-serif;
}
#tab1 td, #tab2 td, #tab3 td{
	//padding:2px;
	//height:15px;
}

#tab1{}
#tab1 th{ background: #008c20; color: #fff; font: 12px bold Arial, Helvetica, sans-serif;}
#tab1 td{ color: #000; font: 10px bold Arial, Helvetica, sans-serif;}

#tab2{
	font: 10px normal Arial, Helvetica, sans-serif; 
}
#tab2 th, #tab2 td{padding: 0 2px;white-space:nowrap;}

#tab0{ padding: 0;}
#tab0 th, #tab0 td{ color: #fff; font: 10px bold Arial, Helvetica, sans-serif; padding: 0; margin: 0;}

#tab3{ width:auto;}
#tab3 th{ 	background:#ffff81;
	color:#000;
	padding: 3px 6px;
	font-weight:bold;
	white-space:nowrap;}
#tab3 td{ color: #000; font: 10px bold Arial, Helvetica, sans-serif; background:#F4F3FC; padding:0px; white-space:nowrap; padding: 4px 5px; 
border-bottom: 1px solid #dee2e4;}

#tab3 .t1{
	background:#eaeef2;
	border-top:1px solid #dee2e4;
	color:#069;
	padding: 3px 6px;
	font-weight:bold;
	white-space:nowrap;
}

#tab_opis{ width:auto; border-left: 1px solid #dee2e4;}
#tab_opis th{ 	background:#eaeef2;
	color:#000;
	padding: 3px 6px;
	font-weight:bold;
	white-space:nowrap;}
#tab_opis td{ color: #000; font: 10px bold Arial, Helvetica, sans-serif; background:#eaeef2; padding:0px; white-space:nowrap; padding: 4px 5px; 
border-bottom: 1px solid #dee2e4; }

#tab_opis .t1{
	background:#eaeef2;
	border-top:1px solid #dee2e4;
	color:#069;
	padding: 3px 6px;
	font-weight:bold;
	white-space:nowrap;
}


#tab4 .t1{
	background:#000;
	color:#FFF;
	padding: 3px 6px;
	font-weight:bold;
	white-space:nowrap;
}

#tab3 th{

}

#tab4{  }
#tab4 th{ background: #600; color: #fff; font: 10px bold Arial, Helvetica, sans-serif;  width: 200px; padding: 0 5px;}
#tab4 td{ color: #000; font: 10px bold Arial, Helvetica, sans-serif; background:#ffcc99; height: 15px; padding: 0 5px;}

#tab4 .t2{
	background:#ff420e;
}
#tab0 tr.t0 td{
	background: #e6e6e6;
	padding: 0 5px;
	height: 15px;
}

#komunikat{
	background: #b9e9f5;
	border:1px solid #8ad6e8;
	width: 100%;
	color: #548995;
	font: 10pt normal Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin: 10px 0;
}
