#tooltip{
	position:absolute;
	font:11px "Trebuchet MS", Arial, Helvetica, sans-serif!important;
	padding:8px;
	border:1px solid #d0d0d1;
	background:#ffffff;	
	color:#333;
	display:none;
	}	
	
#preview{
	position:absolute;
	border:1px solid #ffffff;
	background:#d0d0d1;
	padding:7px;
	display:none;
	color:#626262;
	font-size:12px;
	font-weight:bold;
	}	
	
#screenshot{
	position:absolute;
	border:1px solid #ffffff;
	background:#d0d0d1;
	padding:7px;
	display:none;
	color:#626262;
	font-size:12px;
	font-weight:bold;
	
	}