<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Panel Administracyjny</title>

<link rel="stylesheet" href="/admin/css/screen.css" type="text/css" media="screen" title="default" />
<link rel="stylesheet" href="/admin/css/drukuj.css" type="text/css" media="print"/>
<!--[if IE]>
<link rel="stylesheet" media="all" type="text/css" href="css/pro_dropline_ie.css" />
<![endif]-->
    <link type="text/css" href="/admin/js/kalendarz.css" rel="stylesheet" />
    <link type="text/css" href="/css/ui-lightness/jquery-ui-1.7.3.custom.css" rel="stylesheet" />	
    <link href="/admin/css/podgladwlinku.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/default/js/walidacja/validationEngine.jquery.css" type="text/css" />
    <link rel="shortcut icon" href="/admin/images/favicon.ico" type="image/x-icon" />    
    <link rel="shortcut icon" href="//admin/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/admin/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="/admin/css/queryLoader.css" type="text/css" />
</head>
<body>
 
<div id="page-top-outer">    

<!-- Start: page-top -->
<div id="page-top">

	<!-- start logo -->
	<div id="logo">
	
	</div>
	<!-- end logo -->
    
	<!--  start top-search -->
	<div id="top-search">
		Witaj 
        <?php
		$user = Zend_Auth::getInstance()->getIdentity();
		echo $user->imie.' '.$user->nazwisko;
		?>
	</div>
 	<!--  end top-search -->

 	<div class="clear"></div>

</div>
<!-- End: page-top -->

</div>
<!-- End: page-top-outer -->
	
<div class="clear">&nbsp;</div>
 
<!--  start nav-outer-repeat................................................................................................. START -->
<div class="nav-outer-repeat"> 
<!--  start nav-outer -->
<div class="nav-outer"> 

		

		<!-- start nav-right -->
		<div id="nav-right" >
			<a onclick="location.href='<?php echo $this->url(array('module' => 'admin','controller' => 'wyloguj', 'action' => 'index')); ?>'" id="logout">
			<img src="/admin/images/shared/nav/exit.png" width="22" height="22" alt="" />
			</a>
			<div class="clear">&nbsp;</div>

		
		</div>
		<!-- end nav-right -->


		<!--  start nav -->
		<div class="nav">
			
				<ul class="select"><li><a href="/admin/index"><b>Strona główna</b></a></li></ul>
				<div class="nav-divider">&nbsp;</div>
					

				<ul class="select"><li><a href="/admin/kategorie"><b>Kategorie Produktów</b></a></li></ul>
				<div class="nav-divider">&nbsp;</div>
				
				<ul class="select"><li><a href="/statystyki"><b>Statystyki</b></a></li></ul>
				<div class="nav-divider">&nbsp;</div>
				
				
				
			<div class="clear"></div>
		</div>
		<!--  start nav -->

</div>
<div class="clear"></div>
<!--  start nav-outer -->
</div>
<!--  start nav-outer-repeat................................................... END -->

<div class="clear"></div>
 
<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
<!-- start content -->
<div id="content">
<a onclick="history.go(-1);" id="wstecz"></a>
<?php echo $this->layout()->content; ?>
</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
</div>
<!--  end content-outer........................................................END -->

<div class="clear">&nbsp;</div>
    
<!-- start footer -->         
<div id="footer">
<!-- <div id="footer-pad">&nbsp;</div> -->
	<!--  start footer-left -->
	<div id="footer-left">
	Specjalistyczny Szpital nr 4 w Bytomia
    </div>
	<!--  end footer-left -->
	<div class="clear">&nbsp;</div>
</div>
<!-- end footer -->
</body>
</html>
