<!--  start page-heading -->

	<div id="page-heading">
		<h1>Kategorie Produktów</h1>
	</div>
	<!-- end page-heading -->

	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	<tr>
		<th rowspan="3" class="sized"><img src="/admin/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
		<th class="topleft"></th>
		<td id="tbl-border-top">&nbsp;</td>
		<th class="topright"></th>
		<th rowspan="3" class="sized"><img src="/admin/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
	</tr>
	<tr>
		<td id="tbl-border-left"></td>
		<td>
		<!--  start content-table-inner ...................................................................... START -->
		<div id="content-table-inner">
        			<!--  start table-content  -->
			<div id="table-content">
			
			<fieldset>
					<legend>Produkty na zamówienie</legend>
						<div id="related-activities" style="float:left;">
							<div id="related-act-top">
							<img src="/admin/images/forms/header_related_act.gif" width="271" height="43" alt="" />
							</div>
							<div id="related-act-bottom">
								<div id="related-act-inner">		
									<div class="left"><a href=""><img src="/admin/images/forms/icon_edit.gif" width="21" height="21" alt="" /></a></div>
									<div class="right">
										<ul class="greyarrow">      
											<li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'drukarki', 'action' => 'index')); ?>">Drukarki</a></li>
											<li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'nosniki', 'action' => 'index')); ?>">Nośniki Danych</a></li>
										</ul>
									</div>
									<div class="clear"></div>		
								</div>
								<div class="clear"></div>
							</div>
						</div>
						
						
					
			</fieldset>
			
		  </div>
			<!--  end table-content  -->
	
			<div class="clear"></div>
		 
		</div>
		<!--  end content-table-inner ............................................END  -->
		</td>
		<td id="tbl-border-right"></td>
	</tr>
	<tr>
		<th class="sized bottomleft"></th>
		<td id="tbl-border-bottom">&nbsp;</td>
		<th class="sized bottomright"></th>
	</tr>
	</table>
	<div class="clear">&nbsp;</div>

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
</div>
<!--  end content-outer -->
<div style="clear:both;"></div>
